<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Accessibility Code Club
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Accessibility Code Club
      </h1>

      <p class="nhsuk-body-l">In this prototype you will find accessibility issues which are common across our services, can you find them all and implement a fix.</p>

      <h2>Prerequisite</h2>
      <ul>
        <li>Chrome Browser</li>
        <li>WAVE tool, <a href="https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh" target="_blank">install the wave tool <span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a></li>
        <li>AXE tool, <a href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd" target="_blank">install the axe tool <span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a></li>
        <li>Lighthouse, installed with Chrome browser</li>
        <li>Voice Over (Screenreader) for macbook users</li>
        <li>NVDA (Screenreader for windows users</li>
      </ul>

      <h2>What to do</h2>

      <p>For each screen you come to, there may be accessibility errors, alerts or both.
      Use the tools listed in the prerequisite to find these.</p>
      <p>Sometimes an accessibility issue is not raised by a tool and requires manual checking, can you spot these too.</p>
      <p class="nhsuk-u-margin-bottom-7">Errors must be fixed, alerts should be fixed but can be passed with good reason.</p>

      <a href="screen-1" class="nhsuk-button">Start now</a>
      
    </div>
  </div>
{% endblock %}
