<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Accessibility Code Club
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds custom-relative">

        <div class="panel panel-border-wide alert-default">
            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">Problem</h2>
            <p>This screen can cause some confusion to some users, why?</p>
            <h2 class="nhsuk-heading-s nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-3">Hint</h2>
            <p>If you are designing a custom component or pattern, this must be navigated sequentially</p>
        </div>

        <form action="screen-4" method="post">
            <div class="nhsuk-form-group">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--l" for="nhs-number">
                        What is your NHS number?
                    </label>
                </h1>
                <div class="nhsuk-hint" id="nhs-number-hint">
                    Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example,
                    <span class="nhsuk-u-nowrap">485 777 3456</span>.
                </div>
                <input class="nhsuk-input nhsuk-input--width-10" id="nhs-number" name="nhs-number" type="text"
                    aria-describedby="nhs-number-hint" inputmode="numeric">
            </div>

            <div class="nhsuk-back-link custom-link">
                <a class="nhsuk-back-link__link" href="#">
                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path
                            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                        </path>
                    </svg>
                    Go back</a>
            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>
        </form>

    </div>
</div>
{% endblock %}